<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akshara.assessment.a3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".A3Application"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/A3Theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SpalashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".ForgotPasswordOTP"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".OTP_VarifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".LanguageSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".BoundaryLoaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".UpdateProfileBeforeLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".StudentListMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".GradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme.NoActionBar" />
        <activity
            android:name=".UtilsPackage.AppSettings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".FinalLauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".DownloadQuestionSetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".AssessmentSelectorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".TelemetryReport.TelemetryRreportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />
        <activity
            android:name=".TelemetryReport.TelemetryReportIndetail"
            android:screenOrientation="portrait"
            android:theme="@style/A3Theme" />

        <service android:name="firebasepack.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo_new" />

        <service android:name="firebasepack.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.gka.akshara.assesseasy.qp_arithmetic_add"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gka.akshara.assesseasy.animpage1"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.gka.akshara.assesseasy.qp_arithmetic_subtract"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_arithmetic_division_wholenumber"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gka.akshara.assesseasy.assessment_manager"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_arithmetic_division_withreminder"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_fib_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.finalpage_boywins"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.finalpage_rabbitwins"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mcq_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mcq_image_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_fib_image_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_text_blank"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_text_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_text_image"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_image_image"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_image_blank"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_truefalse_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_truefalse_text_image"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mtf_image_text"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mcq_image"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_arithmetic_multiply_horiz"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gka.akshara.assesseasy.qp_mcq_image_image"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.messagedisplay"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gka.akshara.assesseasy.MainActivity"
            android:screenOrientation="landscape" />





















        <activity android:name=".WebViewActivity"></activity>
    </application>

</manifest>